<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
            {{ page.title }} &middot; {{ site.title }}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400' rel='stylesheet' type='text/css'>

    {% if page.latex == "mathjax" or page.latex == "mathjax-autonumber" %}
    <!-- MathJax -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: {
                {% if page.latex == "mathjax-autonumber" %}equationNumbers: { autoNumber: "AMS" },{% endif %}
                extensions: ["AMSmath.js", "AMSsymbols.js"]
            },
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true
            },
            "HTML-CSS": {
                linebreaks: { automatic: true, width: "container" }
            }
        });
        MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
            MathJax.Hub.Insert(MathJax.InputJax.TeX.Definitions.macros,{
                cancel: ["Extension","cancel"],
                bcancel: ["Extension","cancel"],
                xcancel: ["Extension","cancel"],
                cancelto: ["Extension","cancel"]
        });
});
    </script>
    <!-- MathJax Configuration needs to come before the loading of MathJax. Otherwise, there is a race condition for loading custom commands -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}images/logo/site_icon_144x144.png">
                                                                 <link rel="shortcut icon" href="{{ site.baseurl }}images/logo/favicon.ico">
</head>
